#login-module.row
  .col-md-4
    %h1 Log in
    = form_tag "sessions", {:class => 'form-group'} do
      .form-group
        = label_tag :email, "Email Address"
        = text_field_tag :email, params[:email], :class => "form-control"
        = label_tag :password, "Password"
        = password_field_tag :password, nil, :class => "form-control"
      %button.btn.btn-default{:type => "submit"} Submit